<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twittersearch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="CONSUMER_KEY" android:value="AzIoH4epdHHP6bdqZu2g4Uzzd" ></meta-data>
        <meta-data android:name="CONSUMER_SECRET" android:value="o6xTEhL425co0crwGse7KK5hLpvIZF1lmdLDVF5h0Gi69RNHNb" ></meta-data>
    </application>

</manifest>